.favbutton {
    margin-right: 30px;
    border: 2px solid rgb(126, 126, 126);
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 35px;
    max-height: 35px;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 23;
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.active {
    transition: 0.3s;
    &:hover {
        border: 2px solid rgb(255, 255, 255);
    }
}

.playbtn{
    margin-right: 5px;
 border: 2px solid rgb(231, 231, 231);
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 35px;
    max-height: 35px;
    height: 100%;
    width: 100%;
    color: rgb(54, 54, 54);
    z-index: 23;
    position: relative;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    cursor: pointer;
    
}