.scrolled {
    background-color: black;
  }
 

 nav{
   
    position: sticky;
  
    height: 68px;
    width: 100%;
    position: fixed;
    top: 0;

    background-image: linear-gradient(0deg, transparent, rgba(37, 37, 37, 0.61), #111);
    z-index: 3;

    transition: 0.3s ease-in-out;
    .container{
        margin: 0 40px;
        height: 68px;
       
        display: flex; 
        justify-content: space-between;
        
        align-items: center;
        .leftside{
            display: flex;
            justify-content: center;
            align-items: center;
            .links{
                width: 290px;
                list-style-type: none;
                display: flex;
                justify-content: space-between;
      
                li {
                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    font-size: 14px;
                }
                }
            }
        }
        .rightside{
            display: flex;
            .search{
                display: flex;
      
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        padding-left: 0.5rem;
        button {
            background-color: transparent;
            border: none;
            &:focus {
              outline: none;
            }
          
          }
          input {
            width: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s ease-in-out;
            background-color: transparent;
            border: none;
            color: white;
            &:focus {
              outline: none;
            }
          }
            }

            .show-search {
                border: 1px solid white;
                background-color: rgba(0, 0, 0, 0.6);
                input {

                  width: 220px;
                  opacity: 1;
                  visibility: visible;
                  padding: 0.3rem;
                }
              }

        }
     }
    
 }